<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercadoliebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/544876a7ca.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <img
          src="/images/logo-mercado-liebre.svg"
          class="logo"
          alt="imagen mercadolibre"
        />
       
          <form action="GET">
           
            <div class="search">
            <input type="text" placeholder="Buscar productos, marcas" class="input-search"  ><button
              type="submit"
              class="search-img"
            >
              <em class="fa-sharp fa-solid fa-magnifying-glass"></em>
            </button>
          </div>
          </form>
        

        <p class="copy-header">
          <em class="fa-solid fa-hand-holding-dollar"></em> Compra en cuotas y
          sin tarjeta de credito
        </p>
      </div>
      <a href="#" class="hamburger-button">
        <em class="fa-solid fa-bars"></em>
      </a>
      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
          <li>
            <a href="/register"
              >Crea tu cuenta <em class="fa-solid fa-credit-card"></em
            ></a>
          </li>
          <li>
            <a href="/login"
              >Ingresa <em class="fa-solid fa-right-to-bracket"></em
            ></a>
          </li>
          <li>
            <a href="#"
              >Mis compras <em class="fa-solid fa-cart-shopping"></em
            ></a>
          </li>
        </ul>
      </nav>
    </header>

    <body>
      <img
        src="/images/img-home-banner.jpg"
        class="banner"
        alt="imagen Cafetera"
      />
      <section>
        <h2>Basado en tu última visita</h2>
        <div class="section">
          <article>
            <div class="article-container">
              <div class="image-container">
                <img
                  src="/images/img-cafetera-moulinex.jpg"
                  alt="imagen Cafetera"
                  class="article-image"
                />
              </div>
              <div class="article-desciption">
                <div><em class="fa-solid fa-truck truck"></em></div>
                <div class="price-offer-container">
                  <p class="price">$6.770</p>
                  <p class="discount">40% OFF</p>
                </div>
                <p class="description">Cafetera Moulinex</p>
              </div>
            </div>
          </article>
          <article>
            <div class="article-container">
              <img
                src="/images/img-macbook-pro-2019.jpg"
                class="article-image"
                alt="imagen macbook-pro-2019"
              />

              <div class="article-desciption">
                <div><em class="fa-solid fa-truck truck"></em></div>
                <div class="price-offer-container">
                  <p class="price">$230.000</p>
                  <p class="discount">20% off</p>
                </div>
                <p class="description">MacBook Pro 2019</p>
              </div>
            </div>
          </article>
          <article>
            <div class="article-container">
              <img
                src="/images/img-samsung-galaxy-s10.jpg"
                class="article-image"
                alt="imagen samsung-galaxy-s10"
              />
              <div class="article-desciption">
                <div><em class="fa-solid fa-truck truck"></em></div>
                <div class="price-offer-container">
                  <p class="price">$70.500</p>
                  <p class="discount">10% off</p>
                </div>
                <p class="description">Samsung Galaxy S10</p>
              </div>
            </div>
          </article>
          <article>
            <div class="article-container">
              <img
                src="/images/img-tv-samsung-smart.jpg"
                class="article-image"
                alt="imagen tv-samsung-smart"
              />
              <div class="article-desciption">
                <div><em class="fa-solid fa-truck truck"></em></div>
                <div class="price-offer-container">
                  <p class="price">$23.200</p>
                  <p class="discount">5% off</p>
                </div>
                <p class="description">SmartTv Samsung 43"</p>
              </div>
            </div>
          </article>
        </div>
      </section>
      <section>
        <h2>Sección de Ofertas</h2>
        <div class="section">
          <article>
            <div class="article-container">
              <div class="image-container">
                <img
                  src="/images/img-cafetera-moulinex.jpg"
                  alt="imagen Cafetera"
                  class="article-image"
                />
              </div>
              <div class="article-desciption">
                <div><em class="fa-solid fa-truck truck"></em></div>
                <div class="price-offer-container">
                  <p class="price">$6.770</p>
                  <p class="discount">40% OFF</p>
                </div>
                <p class="description">Cafetera Moulinex</p>
              </div>
            </div>
          </article>
          <article>
            <div class="article-container">
              <img
                src="/images/img-macbook-pro-2019.jpg"
                class="article-image"
                alt="imagen macbook-pro-2019"
              />

              <div class="article-desciption">
                <div><em class="fa-solid fa-truck truck"></em></div>
                <div class="price-offer-container">
                  <p class="price">$230.000</p>
                  <p class="discount">20% off</p>
                </div>
                <p class="description">MacBook Pro 2019</p>
              </div>
            </div>
          </article>
          <article>
            <div class="article-container">
              <img
                src="/images/img-samsung-galaxy-s10.jpg"
                class="article-image"
                alt="imagen samsung-galaxy-s10"
              />
              <div class="article-desciption">
                <div><em class="fa-solid fa-truck truck"></em></div>
                <div class="price-offer-container">
                  <p class="price">$70.500</p>
                  <p class="discount">10% off</p>
                </div>
                <p class="description">Samsung Galaxy S10</p>
              </div>
            </div>
          </article>
          <article>
            <div class="article-container">
              <img
                src="/images/img-tv-samsung-smart.jpg"
                class="article-image"
                alt="imagen tv-samsung-smart"
              />
              <div class="article-desciption">
                <div><em class="fa-solid fa-truck truck"></em></div>
                <div class="price-offer-container">
                  <p class="price">$23.200</p>
                  <p class="discount">5% off</p>
                </div>
                <p class="description">SmartTv Samsung 43"</p>
              </div>
            </div>
          </article>
        </div>
      </section>
    </body>

    <footer class="footer">
      <div class="footer-container">
        <section>
          <p class="img-footer"><em class="fa-solid fa-credit-card"></em></p>
          <h2>Pagá con tarjeta o en efectivo</h2>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section>
          <p class="img-footer"><em class="fa-solid fa-gift"></em></p>
          <h2>Envío gratis desde $ 2.500</h2>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section>
          <p class="img-footer"><em class="fa-solid fa-user-shield"></em></p>
          <h2>Seguridad, de principio a fin</h2>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
      </div>
      <section>
        <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
      </section>
    </footer>
  </body>
</html>
